$arrow-color: #333;

html,
body {
	margin: 0;
	padding: 0;
}

.arrow-left {

}

.current-slide {
	z-index: 1;
}

.pagerActive {
	background: #fff;
}

/*The height is required in order to see the image*/

.tidyCarousel {
	position: relative;
	height: 30vmin;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 1;
	display: block;
	overflow: hidden;
}

.tidyCarousel .tidyCarousel-slide {
	position: absolute;
	width: inherit;
	height: inherit;
	display: inline-block;
}
.tidyCarousel .tidyCarousel-slide > * {
	width: inherit;
	height: inherit;
	display: block;
}

.first,
.second,
.third {
	display: block;
	margin: 0;
	padding: 0;
}

button[carousel-controller] {
	position: absolute;
	transform: translateY(-50%);
	z-index: 1000;
	top: 50%;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: #fff;
	border: none;
	z-index: 10;
	display: block;


	svg {
		position: absolute;
		left: 20%;
		top: 20%;
		width: 60%;
		height: 60%;
		cursor: pointer;
	}
}
button[carousel-controller~="left"] {
	left: 10px;
}
button[carousel-controller~="right"] {
	right: 10px;
}
.first {
	background: #984;
}

.second {
	background: #123;
}

.third {
	background: #435;
}

.tidyCarousel-pager {
	position: relative;
	margin: 0;
	padding: 0;
	z-index: 100;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(-25px);
	.tidyCarousel-pager--page {

			margin: 0 5px;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			border: 1px solid #f1f1f1;
			cursor: pointer;
			list-style-type: none;
	}
}

/*Temporary*/
